.brands {
	background-color: var(--bg-color);
}

.brands__container {
	display: -ms-grid;
	display: grid;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@media (width > 992px) {
	.brands__container {
		-ms-grid-columns: auto 24px auto 24px auto 24px auto
			24px auto;
		grid-template-columns: repeat(5, auto);
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		gap: 24px;
	}

	.brands {
		padding-block: 42px;
	}

	.brands__icon-duo {
		display: contents;
	}
}

@media (width <= 992px) {
	.brands {
		padding-block: 18px 26px;
	}
	.brands__container {
		-ms-grid-columns: minmax(0, 1fr) 16px minmax(0, 1fr)
			16px minmax(0, 1fr);
		grid-template-columns: repeat(3, minmax(0, 1fr));
		justify-items: center;
		row-gap: 22px;
		-webkit-column-gap: 16px;
		-moz-column-gap: 16px;
		column-gap: 16px;
	}
	.brands-icons {
		max-width: 100%;
		height: auto;
	}
	.brands__icon-duo {
		grid-column: 1 / -1;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		gap: 34px;
		width: 100%;
	}
}
