.hero {
	background-color: #f2f0f1;
}

.hero__container {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.hero__content {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.hero__title {
	max-width: 577px;
	font-weight: 900;
	font-size: clamp(32px, 1.604rem + 1.69vw, 50px);
	font-family: var(--second-family);
}
@media (width > 992px) {
	.hero__title {
		margin-bottom: 34px;
		line-height: 112%;
	}
}

@media (width <= 992px) {
	.hero__title {
		margin-bottom: 20px;
		line-height: 106%;
	}
}

.hero__description {
	font-weight: 400;
	font-family: var(--font-family);
}

@media (width > 992px) {
	.hero__description {
		max-width: 551px;
		margin-bottom: 32px;
		font-size: 16px;
		line-height: 138%;
	}
}

@media (width <= 992px) {
	.hero__description {
		margin-bottom: 23px;
		font-size: 14px;
		line-height: 157%;
	}
}

@media (width > 822px) {
	.hero__description {
		max-width: 551px;
	}
}

.hero__button {
	text-align: center;
	border-radius: 62px;
	padding: 16px 54px;
	background: var(--bg-color);
	-webkit-transition:
		background-color var(--transition-time) ease,
		border-color var(--transition-time) ease,
		-webkit-transform var(--transition-time) ease;
	transition:
		background-color var(--transition-time) ease,
		border-color var(--transition-time) ease,
		-webkit-transform var(--transition-time) ease;
	-o-transition:
		transform var(--transition-time) ease,
		background-color var(--transition-time) ease,
		border-color var(--transition-time) ease;
	transition:
		transform var(--transition-time) ease,
		background-color var(--transition-time) ease,
		border-color var(--transition-time) ease;
	transition:
		transform var(--transition-time) ease,
		background-color var(--transition-time) ease,
		border-color var(--transition-time) ease,
		-webkit-transform var(--transition-time) ease;
}

.hero__link {
	display: block;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	font-family: var(--font-family);
	text-decoration: none;
}

@media (width > 992px) {
	.hero__button {
		margin-bottom: 48px;
	}
}

@media (width <= 992px) {
	.hero__button {
		margin-bottom: 20px;
	}
}

.hero__stats-list {
	padding: 0;
	gap: 24px;
	max-width: 664px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.hero__stats-item {
	min-width: 162px;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	padding-right: 24px;
}

.hero__stats-item:last-child {
	border-right: none;
}

.hero__stats-number {
	display: block;
	font-weight: 700;
	font-size: clamp(20px, 0.81rem + 1.88vw, 40px);
	font-family: var(--font-family);
}

.hero__stats-text {
	white-space: nowrap;
	font-weight: 400;
	font-size: 16px;
	line-height: 138%;
	color: rgba(0, 0, 0, 0.6);
	margin: 0;
}

@media (width <= 992px) {
	.hero__stats-list {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		gap: 0;
	}

	.hero__stats-item {
		border-right: none;
		padding-right: 0;
		-webkit-box-flex: 1;
		-ms-flex: 1 1 calc(50% - 32px);
		flex: 1 1 calc(50% - 32px);
		text-align: center;
		margin-bottom: 12px;
	}

	.hero__stats-item:first-child {
		border-right: 1px solid rgba(0, 0, 0, 0.1);
	}

	.hero__stats-item:last-child {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 100%;
		flex: 1 1 100%;
		border-right: none;
		margin-bottom: 0;
	}
}

.hero__media {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.hero__media-img {
	max-width: 100%;
	height: auto;
	z-index: var(--layer-1);
}

.hero__img-icon {
	position: absolute;
	z-index: var(--layer-2);
}

.hero__icon-sparkle-small {
	top: 45%;
	left: 0;
}

.hero__icon-sparkle-big {
	top: 13%;
	right: 0;
}

@media (width <= 576px) {
	.hero__icon-sparkle-small {
		width: 44px;
		height: 44px;
	}

	.hero__icon-sparkle-big {
		width: 76px;
		height: 76px;
	}
}

@media (width <= 882px) {
	.hero__container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.hero__content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		padding-top: 40px;
	}

	.hero {
		max-height: none;
	}

	.hero__media {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-top: 0;
	}

	.hero__stats-list {
		width: 100%;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

.hero__button:hover {
	-webkit-transform: scale(1.03);
	-ms-transform: scale(1.03);
	transform: scale(1.03);
}

.hero__button:active {
	-webkit-transform: scale(0.98);
	-ms-transform: scale(0.98);
	transform: scale(0.98);
}
