table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 20px;
}

caption {
	font-weight: 700;
	border: 1px solid #000;
	border-bottom: none;
}

tr,
th,
td {
	border: 1px solid #000;
}

.red-color {
	color: red;
}
