:root {
	/* font-family */
	--font-family: "Satoshi", sans-serif;
	--second-family: "Integral CF Heavy", sans-serif;
	--third-family: "Integral CF", sans-serif;
	--font3: "Inter", sans-serif;

	/* colors */
	--main-color: #fff;
	--bg-color: #000;
	--bg-secondary: #f0f0f0;
	--secondary-color: #c9c69b;
	--disabled-color: rgba(0, 0, 0, 0.6);
	--disabled-glow-color: #5d5d564d;
	--shadow-color: #181817;
	--overlay-color: #2a2a2980;

	/* shadows */
	--shadow-glow: 0 0 6px 2px var(--main-glow-color);
	--shadow-accent-glow: 0 0 6px 2px var(--accent-glow-color);
	--shadow-disabled-glow: 0 0 6px 2px
		var(--disabled-glow-color);

	/* container */
	--container-width: 1240px;
	--container-padding: 16px;

	/* transitions */
	--transition-time: 0.2s;

	/* layers */
	--layer-negative: -1;
	--layer-0: 0;
	--layer-1: 1;
	--layer-2: 2;
	--layer-3: 3;
}
